<div class="header">
  <img src="assets/pictures/logo.jpg" alt="" class="header__logo" [routerLink]="['/home']">
  <div class="header__md">
    <button class="header__nav__link" [routerLink]="['/shop']">Shop</button>

    <button class="header__nav__link" [routerLink]="['/companies']">Companies</button>

    <button class="header__nav__link" *ngIf="!loggedIn" [routerLink]="['/login']">Login</button>

    <button class="header__nav__link" *ngIf="loggedIn" (click)="logout()">Logout</button>
  </div>
</div>