<div class="restore restore__md">
  <h3 class="restore__title">Restore password</h3>
  <div class="restore__input" [formGroup]="restoreForm">
    <app-input [formControlName]="'email'"
               [placeholder]="inputTypes.email"
               [type]="inputTypes.email"
               [title]="inputTypes.email"
               [required]="true"
               [errorMsg]="emailErrorMsg"
               [ngClass]="{'ng-invalid && ng-touched': userNotFoundError}"></app-input>
  </div>
  <button class="restore__btn">Restore</button>
</div>