@import "~src/assets/styles/variables";

.restore {
  max-width: 700px;
  margin: auto;

  &__md {
    padding: 0 80px;
  }

  &__title {
    text-align: center;
    font-size: 21px;
    color: $purpleish-blue;
  }

  &__btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 13px;
    background-color: $purpleish-blue;
    color: white;
    overflow: hidden;
    position: relative;
    display: block;
    padding: 15px 22px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    flex: 1 1 auto;
    margin-top: 29px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
  }
}