@import "~src/assets/styles/variables";

.checkbox__check-mark {
  position: absolute;
  display: block;
  width: 13px;
  top: 6px;
  left: 0;
  height: 13px;
  border-radius: 1px;
  border: solid 2px $purpleish-blue;

  &::after {
    position: absolute;
    display: none;
    content: '';
    width: 13px;
    height: 13px;
    left: -2px;
    top: -2px;
    background: $purpleish-blue;
  }
}

.checkbox__label {

  &.checkbox__label_error {
    color: red;
  }
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__wrapper {
  position: relative;
  user-select: none;
  display: block;
  padding-left: 21px;
  padding-top: 3px;
  cursor: pointer;

  &.m-active {
    .checkbox__check-mark::after {
      display: block;
    }
  }
}
