<div class="home home__md">

  <div class="home__main">
    <img src="/assets/pictures/bike.jpeg" alt="">
    <div class="main-about" *ngFor="let article of news">

      <div *ngIf="article.isMain">
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
      </div>

    </div>
  </div>

  <h5 class="home__part">Other news</h5>

  <div class="home__other-news">

    <ng-container *ngFor="let article of news">
      <app-news-card [news]="article" *ngIf="!article.isMain"></app-news-card>
    </ng-container>

  </div>

  <app-slider [content]="content"></app-slider>

</div>

<div class="home">

  <!--<app-graph></app-graph>-->

  <app-timeline [logs]="logs"></app-timeline>

</div>
